<div class="square">
    <div class="quadrant top-left">@Intersection.Viewport.Vmin</div>
    <div class="quadrant top-right">Top Right</div>
    <div class="quadrant bottom-left">Bottom Left</div>
    <div class="quadrant bottom-right">Bottom Right</div>
</div>